.mu-card {
  --mu-book-item-num: 4;
  display: flex;
  flex-wrap: wrap;
}

html[data-theme="light"] {
  blockquote {
    background-color: #ecf8f2;
  }
}
html[data-theme="dark"] {
  blockquote {
    background-color: #232f29;
  }
}
.theme-hope-content {
  & > p {
    text-indent: 2em;
    img {
      display: block;
    }
  }
}
#main-content {
  .vp-article-cover {
    aspect-ratio: 3 / 1;
  }
  .page-cover img {
    -o-object-fit: fill;
    object-fit: fill;
    max-height: initial;
    aspect-ratio: 3 / 1;
  }
}

code {
  color: var(--theme-color);
}

blockquote {
  border-color: #42b983 !important;
  p {
    padding: 0.5rem 0;
  }
}

/* 媒体自适应 */

/* 小于 768px 《===》xs */
@media only screen and (max-width: 767px) {
  /* 在这里编写小于 768px 时应用的 CSS */
  .mu-card {
    --mu-book-item-num: 1;
  }
}

/* 大于等于 768px 《===》sm */
@media only screen and (min-width: 768px) {
  /* 在这里编写大于等于 768px 时应用的 CSS */
  .mu-card {
    --mu-book-item-num: 2;
  }
}

/* 大于等于 992px 《===》md */
@media only screen and (min-width: 992px) {
  /* 在这里编写大于等于 992px 时应用的 CSS */
  .mu-card {
    --mu-book-item-num: 3;
  }
}

/* 大于等于 1200px 《===》lg */
@media only screen and (min-width: 1200px) {
  /* 在这里编写大于等于 1200px 时应用的 CSS */
  .mu-card {
    --mu-book-item-num: 4;
  }
}

/* 大于等于 1920px 《===》xl */
@media only screen and (min-width: 1920px) {
  /* 在这里编写大于等于 1920px 时应用的 CSS */
  .mu-card {
    --mu-book-item-num: 4;
  }
}

.vp-card {
  max-width: initial;
  width: 80%;
  --line-clamp: 2;

  .vp-card-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
    min-height: 2.7em;
  }
}

@media (max-width: hope-config.$mobile) {
  .vp-card {
    width: 80%;
    --line-clamp: 3;
  }
}

@media (min-width: hope-config.$mobile) {
}

@media (min-width: hope-config.$tablet) {
}

@media (min-width: hope-config.$pad) {
  .vp-card {
    width: 40%;
    --line-clamp: 2;
  }
}

@media (min-width: hope-config.$laptop) {
  .vp-card {
    width: 42%;
    --line-clamp: 2;
  }
}

@media (min-width: hope-config.$pc) {
}

// 个人简历
.curriculum-vitae {
  .theme-hope-content {
    & > div {
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    p {
      text-indent: 0;
    }
  }
}
.vp-blog-type-button .icon-wrapper {
  box-sizing: content-box;
}

/**
* 美化各级标题
*/
#main-content {
  .theme-hope-content {
    h2 {
      --prefix-icon: "🍁";
    }
    h3 {
      --prefix-icon: "🍂";
    }
    h4 {
      --prefix-icon: "🌸";
    }
    h5 {
      --prefix-icon: "🍅";
    }
    h6 {
      --prefix-icon: "🍊";
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      .header-anchor {
        & > span {
          &::before {
            content: var(--prefix-icon);
          }
        }
      }
    }
  }
}

.theme-hope-content table img {
  max-width: unset;
  display: block;
  height: 100%;
  width: 100%;
}
tbody tr:nth-child(odd) {
  background: transparent;
}
