// you can change colors here
$theme-color: #096dd9;
$code-color: #abb2b1;
$code-bg-color: #282c34;
$code-border-color: #343e51;
$code-highlight-bg-color: #2f3542;
$code-line-number-color: rgba(171, 178, 177, 0.67);
